body {
  width: 100%;
 /* background-image:;*/ /*add something cool here*/
}

#main {
  margin: 10px auto;
  width: 800px;
}

.heading {
  text-align: center;
  font-family: arial;
  font-size: 50px;
}

table {
  margin: 0px auto;
  font-family: arial;
  font-size: 90px;
  text-align: center;
  color: #ffffff;
}

.box_cell {
  border: 1px solid black;
  width: 130px;
  height: 130px;
  border-radius: 10px;
  opacity: .75;
  box-shadow: 2px 2px 0px gray;
}

.box_cell:hover {
  background-color: #c9fcf3;
}


