body {
  width: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0 auto;
 /* background-image:;*/ /*add something cool here*/
}

#mainContainer {
  margin: 0 auto;
  width: 90%;
}

#mainHeading {
  text-align: center;
  font-size: 50px;
}

table {
  margin: 0 auto;
  border-collapse: separate !important;
}

td {
  font-family: arial;
  font-size: 4em;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 130px;
}

.box_cell {
  border: 1px solid black;
  border-radius: 10px;
  opacity: .75;
  box-shadow: 2px 2px 0px gray;
}

.box_cell:hover {
  background-color: #d9dadb;
}

#scoreBoard {
  margin: 0 auto;
  padding-bottom: 20px;
}

.score {
  font-size: 2em;
}

#xScore {
  color: blue;
}

#yScore {
  color: blue;
}
